---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.typekit.net/uvo6qxd.css">
		<title>GirlTalk</title>
	</head>

	<body>
		
        <slot />
		<script src="/src/pages/javascript.js"></script>
	</body>
</html>
