---
import Layout from "../../Layout.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
	<div class="forside">
	<div class="forsidebillede">
		<img src="/billeder/forsidebillede3.svg" alt="forsidebillede">
	</div>

	<div class="text">
		<img src="/billeder/text.svg" alt="girl talk tekst">
	</div>
	</div>

	<div class="grid_1_1">
		<div>
			<h2>Hvem er vi?</h2>
			<p>Vi arbejder for at forebygge mistrivsel blandt piger og unge kvinder.</p>
			<br>
			<p>Alt for mange piger og unge kvinder har det dårligt mentalt. GirlTalk arbejder for at bremse den stigende mistrivsel og for at alle piger har en at tale med.</p>
		</div>
		<div>
			<img src="/billeder/piger.jpg" alt="piger">
		</div>
	</div>

	<img src="/billeder/talebobel1.svg" alt="talebobel" class="talebobel1">

	<div class="kedpige">
	<img src="/billeder/kedpige.svg" alt="ked af det pige" class="kedpige">
</div>

	<div class="fomo_tekst">
	<h2>FOMO - FEAR OF MISSING OUT?</h2>
	<p>Er du også bange for at gå glip af noget? - Det er du ikke ene om. Det er blevet udbredt med ensomhed og FOMO blandt unge piger. Først og fremmest er det vigtigt at erkende, at du føler dig ensom. 

		Husk, at det er helt normalt at opleve ensomhed gennem livet.
		</p>
	</div>

	<div class="grid_1_1_1">
	<img src="/billeder/fact1.svg" alt="fact 1" class="fact1">
	<img src="/billeder/fact2.svg" alt="fact 2" class="fact2">
	<img src="/billeder/fact3.svg" alt="fact 3" class="fact3">
	</div>

<div class="topiger">
	<img src="/billeder/topiger.svg" alt="to piger">
</div>

	<img src="/billeder/talebobel2.svg" alt="talebobel2" class="talebobel2">
	<img src="/billeder/talebobel3.svg" alt="talebobel3" class="talebobel3">

	<div class="alene_tekst">
		<h2>Føler du dig alene eller udenfor?</h2>
		<p>Ensomhed kan opstå pludseligt, især når vi ser andre deltage i sociale aktiviteter eller glædesfyldte sammenkomster, mens vi selv føler os udenfor. Dette forstærkes ofte af sociale medieindlæg, der giver indtryk af, at alle andre har det sjovt, mens vi er alene.</p>
		<br>
		<br>
		<p>Det er vigtigt at forstå, at ensomhed ikke kun handler om fysisk isolation, men også om følelsesmæssig forbindelse. Man kan føle sig ensom selv med mange venner, hvis man ikke føler sig forstået eller forbundet med dem, og omvendt kan man være alene uden at føle sig ensom, hvis man har stærke forbindelser til andre eller føler sig tilfreds med sig selv.</p>
	</div>

	<div class="alene_pige">
	<img src="/billeder/alenepige.svg" alt="alene pige" class="alene_pige">
	</div>

	<h2 class="tips_tekst">7 tips til at slippe af med FOMO</h2>



	<div class="grid_1_4">
		<div>
			<h2>&nbsp;1.</h2>
		</div>
		
		<div>
			<p>Køb en dagbog</p>
			<p>Træn dig i daglig taknemmelighed. Skriv tre ting ned hver dag, som du er taknemmelig for, for at undgå sammenligning med andre og fokusere på dit eget livs positiver frem for selvkritik.</p>
		</div>
	</div>

	<div class="grid_1_4">
			<div>
				<h2>2.</h2>
			</div>
			
			<div>
				<p>Reflekter over, hvad du vil i dit liv</p>
				<p>Fokusér på dine egne ønsker og mål, ikke andres. Reflekter over, hvad der bringer dig glæde og brug det som guide i livet, i stedet for at lade dig distrahere af andres handlinger.</p>
			</div>
		</div>

		<div class="grid_1_4">
			<div>
				<h2>3.</h2>
			</div>
			<div>
				<p>Lav SOME regler for dig selv</p>
				<p>Indfør regler for brug af sociale medier. Tillad dig selv at tjekke Instagram/TikTok to gange dagligt i stedet for konstant.</p>
			</div>
		</div>

		<div class="grid_1_4">
			<div>
				<h2>4.</h2>
			</div>
			<div>
				<p>Hold devicefri dage</p>
				<p>Studier viser, at unge oplever angst ved at undvære deres telefoner. Tanja Staal Wegner anbefaler, at man holder dage, hvor telefonen er slukket, for at undgå at føle sig konstant tilgængelig. Dette giver mulighed for at finde indre ro og øger selvværdet.</p>
			</div>
		</div>

		<div class="grid_1_4">
			<div>
				<h2>5.</h2>
			</div>
			<div>
				<p>Træn dig selv i at være til stede i nuet</p>
				<p>Vær nærværende i øjeblikket for at undgå at lade dig distrahere af andre. Øv dig i at fokusere på det, du laver, og undlad at blive fristet til at dele på sociale medier.</p>
			</div>
		</div>

		<div class="grid_1_4">
			<div>
				<h2>6.</h2>
			</div>
			<div>
				<p>Se mennesker ansigt til ansigt</p>
				<p>Vi kender alle typen, der altid er fordybet i deres telefon, når de er sammen med andre. Stop det. Læg telefonen væk og kig folk i øjnene. Når vi er sammen med mennesker i stedet for at følge dem på sociale medier, opdager vi ofte, at de ikke er så perfekte, som vi tror. </p>
			</div>
		</div>

		<div class="grid_1_4">
			<div>
				<h2>7.</h2>
			</div>
			<div>
				<p>Træk vejret</p>
				<p>At trække vejret kan virke simpelt, men det er utroligt effektivt. I en travl hverdag kan det være udfordrende at være til stede i øjeblikket, men vejrtrækning giver øjeblikkelig ro og kontrol. Prøv det flere gange dagligt for at fokusere din opmærksomhed væk fra det hektiske og ind i nuet. Det kræver ingen præstation, blot at trække vejret. </p>
			</div>
		</div>

		<div class="girlpower">
		<img  src="/billeder/girlpwr.svg" alt="girlpower" >
	</div>

	<div class="grid_1_1_1_1">
		<div class="indhold">
			<h3>Chat med os</h3>
			<p>GirlTalks chatrådgivning er for dig mellem 12 og 24 år. Du kan chatte med vores ungerådgivere hver aften eller sende en sms til os hele døgnet. Du er altid anonym og kan trygt dele dine tanker med os. Vi glæder os til at skrive med dig<3 </p>
				<div class="knap">
					<h4> CHAT NU</h4>
				</div>
		</div>
		
		<div class="indhold chat_billede">
			<img src="/billeder/chat.svg" alt="billede af chatmuligheder">
		</div>

		<div class="indhold">
			<div>
			<h3>Chattens åbningstider</h3>
			<p>Man - Tors 18:30 - 24:00</p>
			<p>Fre - Lør 19:00 - 23:00</p>
			<p>Søn 18:30 24:00</p>
			</div>
		</div>

		<div class="indhold">
			<h3>Sms - 49 49 18 18</h3>
			<p>Du kan skrive til os døgnet rundt. 
				Vi besvarer din sms i åbningstiden.</p>
			<p>SMS til 49 49 18 18 </p>
		</div>
	</div>
	
		<Footer />
</Layout>


<style>
	 * {
        margin: 0;
        box-sizing: border-box;
      }

	  :root {
		--baggrund: #f7c7d9;
		--farve1: #273AAA;
		--farve2: #FC4D5C;
		--farve3: #FFF5EB; 
	  }
	p{
		font-family: "Archivo", sans-serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal;
		font-variation-settings:
		"wdth" 100;
		color: var(--farve1);
	}


	h1, h2, h3, h4{
		font-family: "obviously", sans-serif;
		font-weight: 700;
		font-style: normal;
		color: var(--farve1);
	}

	p{
		font-size: 20px;
		line-height: 30px;
	}

	h2{
		font-size: 38px;
	}
	
	.forsidebillede img{
		width: 100%;
	}

	.text img {
		width: 60%;
	}

	.forside{
		position: relative;
	}

	.text {
    	position: absolute; /* Gør billedet med teksten absolut positioneret */
    	top: 40%; /* Placer billedet øverst */
    	left: 30%; /* Placer billedet helt til venstre */
    	z-index: 1; /* Sørg for at teksten er over forsidenbilledet */
	}

	body{
		background-color: var(--baggrund);
	}

	.grid_1_1{
		padding: 30px;
	}

	.grid_1_1 img{
		padding-top: 60px;
		padding-bottom: 60px;
		width: 500px;
	}

	img.talebobel1, img.talebobel2, img.talebobel3{
		width: 550px;
	}

	img.talebobel2, img.talebobel3 {
		padding-top: 100px;
	}

	img.talebobel3{
		padding-bottom: 100px;
	}

	.fomo_tekst {
		padding-left: 15px;
	}
	
	.fomo_tekst h2, .fomo_tekst p{
		color: var(--farve2);
	}

	.fomo_tekst h2 {
		padding-top: 35px;
		padding-bottom: 20px;
		font-size: 30px;
	}

	.fomo_tekst p{
		padding-bottom: 20px;
	}
	

	img.kedpige{
		width: 200px;
	}

	img.fact1, img.fact2, img.fact3 {
		width: 400px;
		padding: 10px;
	}

	img.fact1{
		padding-top: 40px;
	}

	img.fact3{
		padding-bottom: 70px;
	}

	.topiger img{
		width: 500px;
		padding-bottom: 50px;
	}

	.alene_tekst{
		padding: 20px;
	}
	.alene_tekst h2{
		color: var(--farve2);
		padding-bottom: 20px;
		font-size: 30px;
}

	img.alene_pige{
		width: 400px;
		height: 300px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	h2.tips_tekst{
		font-size: 30px;
		padding-left: 15px;
	}

	.grid_1_4{
		padding-top: 20px;
		padding-bottom: 50px;
		padding-left: 15px;
	}

	.girlpower img{
		width: 250px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.girlpower {
 		display: flex;
    	justify-content: center;
    	align-items: center;
}
	.alene_pige {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.topiger{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.grid_1_1_1 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.chat_billede img{
		width: 300px;
	}

	.chatsms img {
		width: 200px;
	}

	.grid_1_1_1_1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		gap: 24px; 
		padding-bottom: 100px;
		align-items: center;
		padding-left: 40px;
	}

	.knap{
		background-color: var(--farve3);
		width: 125px;
		height: 35px;
		text-align: center;
		border-radius: 10px;
		margin-top: 20px;
		justify-content: center;
		margin-left: 15%;
	}

	.grid_1_1_1_1 h2{
		font-size: 30px;
	}

	.grid_1_1_1_1 p{
		font-size: 15px;
	}

	
@media (min-width: 800px){
	p{
	font-size: 30px;
	line-height: 40px;
	}
	h2{
	font-size: 60px;
	}

	h3{
		font-size: 38px;
	}

	h4{
		font-size: 20px;
	}
	.grid_1_1{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 90px;
		padding-top: 160px;
		gap: 40px;
	}

	.grid_1_1 img{
		padding-top: 10px;
		padding-bottom: 60px;
		width: 500px;
	}

	.talebobel1{
		padding-left: 130px;
		
	}

	img.talebobel1{
		width: 90%;
	}

	img.kedpige{
		width: 20%;
	}

	.fomo_tekst h2 {
		padding-top: 0px;
		padding-bottom: 20px;
		font-size: 60px;
		text-align: center;
	}

	.fomo_tekst p{
		padding-bottom: 20px;
		padding-left: 35px;
		padding-right: 35px;
	}


	img.fact1, img.fact2, img.fact3 {
		width: 50%;
	}

	img.fact2{
		margin-left: 50%;
	}


	.topiger img{
		width: 50%;
		padding-bottom: 100px;
	}

	.talebobel2, .talebobel3{
		padding: 70px;
	}

	img.talebobel2 {
		width: 90%;
	}

	img.talebobel3 {
		width: 70%;
	}

	img.alene_pige{
		width: 600px;
		height: 500px;
	}

	.alene_tekst{
	padding: 80px;
	}

	.alene_tekst h2{
		text-align: center;
		font-size: 60px;
	}

	.tips_tekst{
	text-align: center;
	}

	h2.tips_tekst{
		font-size: 55px;
		padding-left: 15px;
		padding-top: 100px;
	}

	.girlpower img{
		width: 350px;
	}

	.grid_1_1_1{
		display: block;
	}

	.grid_1_4 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-left: 90px;
	padding-right: 90px;
	gap: 50px;
	}

	.grid_1_4 h2{
	font-size: 180px;
	}

	.grid_1_1_1_1 p{
		font-size: 30px;
	}

	.chat_billede img {
		margin-left: 30%;
	}

	.knap{
		margin-left: 30%;
	}
}

</style>