---
---

<div class="footer_wrapper">
<section class="grid_3">
    <div>
        <h3>Om GirlTalk</h3>
         <ul>
            <li>Nyheder</li>
            <li>Bliv frivillig</li>
            <li>Støt</li>
            <li>Jobs</li>
            <li>Vores indsamling</li>
            <li>Privatlivspolitik</li>
            <li>Cookiepolitik</li>
        </ul>
    </div>

    <div>
        <h3>For unge</h3>
        <ul>
            <li>Chatten</li>
            <li>Pigetanker</li>
            <li>Alle vores tilbud til unge</li>
            <li>Lokalafdelinger</li>
            <li>Kontakt</li>
            <li>FAQ til projektopgaver</li>
        </ul>
    </div>

    <div>
        <h3>Find os her</h3>
        <ul>
            <a href="https://www.youtube.com/c/GIRLTALKdanmark"><li>Youtube</li></a>
            <a href="https://www.instagram.com/girltalkdk/"><li>Instagram</li></a>
            <a href="https://www.facebook.com/GirlTalkdk"><li>Facebook</li></a>
            <a href="https://www.linkedin.com/company/girltalk.dk/"><li>LinkedIn</li></a>
            <a href="https://www.tiktok.com/discover/girltalkdk?lang=en&sender_device=pc&sender_web_id=6957282728916256262&is_from_webapp=v1&is_copy_url=0"><li>TikTok</li></a>
            <a href="https://open.spotify.com/show/15oq5yztN1NwZjQn4HIMLg?si=2041342865dd449f&nd=1&dlsi=3fa28cb455174bcf"><li>Spotify</li></a>
        </ul>
    </div>
</section>


    <div class="footer_information">
        <p>GirlTalk *  Martinsvej 7,1 * 1926 Frederiksberg C * CVR 30 14 53 48 </p>
        <img src="/billeder/logo.svg" alt="logo.svg">
    </div>
</div>


<style>
    :root {
		--baggrund: #f7c7d9;
		--farve1: #273AAA;
		--farve2: #FC4D5C;
	  }

    li, p{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--farve1);
}

    ul{
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    h3{
	font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--farve1);
}
    .grid_3 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-left: 30px;
}

.grid_3 ul {
    list-style: none; /* Fjern punkttegn */
    padding-left: 0; /* Fjern indrykning */
}

.grid_3 ul li {
    margin-bottom: 5px; /* Juster afstand mellem listeelementer efter behov */
}

.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_information {
    text-align: center;
    margin-top: 20px;
    flex-basis: 100%; /* Sørg for, at dette element strækker sig over hele bredden */
}

.footer_information img {
    display: block;
    margin: 0 auto;
}

@media (min-width: 800px){
    h3{
        font-size: 25px;
    }

    li, p{
        font-size: 20px;
    }

    
    .grid_3 {
        display: flex;
        justify-content: space-between;
        gap: 225px;
    }
}

</style>